.display-4 {
    text-align: center;
    font-weight: 700;
}

.btn {
    position: absolute;
    left: 44%;
}

.block1 {
    padding: 46px 100px 36px 100px;
    background-color: #FFD300;
}

.jumbotron {
    background-color: #FF3800 !important;
}

.btn1 {
    background-color: #8B0000 !important;
    border-color: #8B0000 !important;
}

.block2 {
    padding-bottom: 6px;
    background-color: #FFBF00;
}

.heading {
    padding-left: 12px;
}

.block3 {
    padding-top: 40px;
    padding-bottom: 46px;
    border-radius: 5px;
    background-color: #C46210;
}

.updated {
    position: relative;
    float: right;
}

@media (min-width: 1517px) {
    .featured_img {
        width: 800px;
    }

    .featured_img_block {
        width: 800px;
    }

    .weather_and_facts_block {
        width: 500px;
    }

    .weather_block {
        width: 450px;
    }
}

@media (max-width:1517px) {
    .featured_img {
        width: 750px;
    }

    .featured_img_block {
        width: 750px;
    }

    .weather_and_facts_block {
        width: 450px;
    }

    .weather_block {
        width: 450px;
    }
}

@media (max-width:1420px) {
    .featured_img {
        width: 700px;
    }

    .featured_img_block {
        width: 700px;
    }

    .weather_and_facts_block {
        width: 400px;
    }

    .weather_block {
        width: 400px;
    }
}

@media (max-width:1320px) {
    .featured_img {
        width: 600px;
    }

    .featured_img_block {
        width: 600px;
    }

    .weather_and_facts_block {
        width: 400px;
    }

    .weather_block {
        width: 400px;
    }
}

@media (min-width: 1320px) {
    .featured_img_block {
        float: left;
    }
    
    .weather_and_facts_block {
        float: right;
    }    
}

@media (max-width:1320px) {
    .featured_img {
        width: 700px;
    }

    .featured_img_block {
        width: 700px;
        float: none;
    }

    .weather_and_facts_block {
        width: 400px;
        float: none;
    }

    .weather_block {
        width: 400px;
    }
}

.weather_block {
    background-color: #FFEF00;
    opacity: 0.75;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 5px;
    padding: 15px;
}

.table_title {
    margin-left: 20px;
}

table {
    margin: 20px;
}

.clear {
    clear: both;
}

.hemispheres {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.card {
    width: 400px !important;
}

/* Style the Image Used to Trigger the Modal */
.myImages {
    cursor: pointer;
    transition: 0.3s;
}

.myImages:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1 !important;
    font-size: 40px !important;
    font-weight: bold !important;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}