<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Mars</title>
</head>
<body>

    <div class="background">
        <div class="block1">
            <div class="block2">
                <div class="jumbotron">
                    <h1 class="display-4">Mission to Mars</h1>
                    <a class="btn btn-primary btn-lg btn1" href="/scrape" role="button">Scrape New Data</a>
                </div>

                <h3 class="heading">Latest Mars News</h3>
                <h5 class="heading">{{ dict.news_title }}</h5>
                <p class="heading">{{ dict.news_p }}</p>
                
                <div class="featured_img_block">
                    <h3 class="heading">Featured Mars Image</h3>
                    <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars">
                        <img class="featured_img" src= "{{ dict.featured_image_url }}" alt="featured space image">
                    </a>
                </div>

                <div class="weather_and_facts_block">
                    <div class="weather_block">
                        <h5>Current Weather on Mars</h5>
                        <p>{{ dict.mars_weather }}</p>
                    </div>

                    <h5 class="table_title">Mars Facts</h5>
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </div>
            

                <div class="clear"></div>

                <h5 class="hemispheres">Mars Hemispheres</h5>
            </div>
        
            <div class="block3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ pic1.img_url }}" class="card-img-top" alt="{{ pic1.title }}">
                                <div class="card-body">
                                <p class="card-text">{{ pic1.title }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ pic2.img_url }}" class="card-img-top" alt="{{ pic2.title }}">
                                <div class="card-body">
                                <p class="card-text">{{ pic2.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ pic3.img_url }}" class="card-img-top" alt="{{ pic3.title }}">
                                <div class="card-body">
                                <p class="card-text">{{ pic3.title }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ pic4.img_url }}" class="card-img-top" alt="{{ pic4.title }}">
                                <div class="card-body">
                                <p class="card-text">{{ pic4.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
    
</html>